[submodule "lib/hagl"]
	path = external/hagl
	url = https://github.com/Uberfoo-Heavy-Industries/hagl.git
[submodule "lib/hagl_hal"]
	path = external/hagl_hal
	url = https://github.com/Uberfoo-Heavy-Industries/hagl_pico_mipi.git
